<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
    <p style="color: red" *ngIf="registerForm.controls.email.hasError('required')
    && registerForm.controls.email.touched">Can not be empty</p>
    <p style="color: red" *ngIf="registerForm.controls.email.hasError('email')
    && registerForm.controls.email.touched">Invalid email format</p>

  <p>
    <label for="password">Password </label>
    <input type="password" id="password" name="password" formControlName="password">
    <p style="color: red"
       *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">Can
      not be empty</p>
    <p style="color: red"
       *ngIf="registerForm.controls.password.hasError('minlength') && registerForm.controls.password.touched">Too
      short</p>

  <p>
    <label for="confirmPassword">Confirm password </label>
    <input type="password" id="confirmPassword" name="confirmPassword">
  <p style="color: red"
     *ngIf="registerForm.hasError('notMatch') && registerForm.touched">Not match</p>
  <p>
    <label for="age">Age </label>
    <input type="number" id="age" name="age" formControlName="age">
    <p style="color: red" *ngIf="registerForm.controls.age.hasError('required') && registerForm.controls.age.touched">
      Can not be empty</p>
    <p style="color: red" *ngIf="registerForm.controls.age.hasError('min') && registerForm.controls.age.touched">Must be
      > 18</p>

  <p>
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option>Vietnam</option>
      <option>American</option>
      <option>Japan</option>
      <option>Korea</option>
    </select>
  </p>

  <p>
    <label for="gender">Gender </label>
    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
  </p>

  <p>
    <label for="phone">Phone </label>
    <input type="text" id="phone" name="phone" formControlName="phone">
    <p style="color: red"
       *ngIf="registerForm.controls.phone.hasError('required') && registerForm.controls.phone.touched">Can
      not be empty</p>
    <p style="color: red"
       *ngIf="registerForm.controls.phone.hasError('pattern') && registerForm.controls.phone.touched">Invalid phone
      format</p>

  <div>
    <button type="submit">Register</button>
  </div>

</form>
